/* RESET */

ul, li, strong, main, button, i,
html, body, header, nav, h1, a,
section, img, div, h2, h3, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small,
select {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
  list-style-type: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=checkbox] {
-webkit-appearance:checkbox;
}

button,
input[type="submit"] {
cursor: pointer;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: rgb(100, 100, 100);
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* APPLICATION */

.children-container {
  display: flex;
}

.children-container > div {
  width: 100%;
}

/* NAVIGATION */

nav { 
  display: flex;
  align-content: center;
  width: 100%;
  justify-content: space-between;
  z-index: 3;
  height: 60px;
}

.navigation-spacer {
  display: block;
  color: transparent;
  height: 60px;
}

.navigation-container {
  width: 100%;
  height: 60px;
}

.navigation-links {
  display: flex;
  align-content: center;
  color: rgb(18, 169, 117);
  height: inherit;
}

.navigation-links li {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  margin-right: 20px;
}

.navigation-links > li:hover {
  color: rgb(18, 200, 150);
  cursor: pointer;
}

.navigation-left {
  margin-left: 2em;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.navigation-right {
  margin-right: 2em;
}

.navigation-right i {
  font-size: 28px;
}

.navigation-left, .navigation-right {
  display: flex;
  align-content: center;
  justify-content: center;
}

.logo-container {
  height: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  height: inherit;
  width: auto;
}

/* HOME */

.alt-cover-picture-container {
  height: 300px;
  width: inherit;
  background-image: url("assets/alt_cover.jpg");
  background-size: cover;
}

.cover-picture-container {
  height: 300px;
  width: inherit;
  background-image: url("assets/cover.jpg");
  background-size: cover;
}

.cover-picture {
  height: 100%;
  width: 100%;
}

.author-picture-stretcher {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%
}

.author-picture-container {
  width: 200px;
  border-radius: 50%;
}

/* ARTICLES */

.articles-container {
  min-width: 600px;
  max-width: 900px;
  margin: 0 auto;
}

article {
  padding: 10px;
  margin: 10px 10px 10px 0;
  min-height: 200px;
  display: flex;
}

article h1 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 153, 204);
}

article h2 {
  font-size: 14px;
  font-style: italic;
  color: rgb(0, 153, 204);
}

article p {
  font-size: 14px;
  margin-top: 10px;
}

article a {
  font-size: 14px;
  padding-top: 20px;
  color: rgb(18, 169, 117);
}

article a:hover {
  color: rgb(18, 200, 150);
}

.article-left, .article-right,
.article-center {
  padding: 15px;
}

.article-left {
  margin-right: 20px;
  background: white;
}

.article-right {
  background: white;
  width: 100%;
}

.article-center {
  background: white;
  width: 100%;
  padding-left: 30px;
}

/* DEVICONS */

.devicons {
  font-size: 64px;
}

.devicons-list {
  display: flex;
  margin-top: 15px;
  margin-bottom: 20px;
}

.devicons-list li {
  margin-right: 10px;
}

/* HOME */

.home-picture {
  border: 1px solid rgb(232, 232, 232);
}

.home-about-author, .home-about-project {
  border-top: 1px solid rgb(232, 232, 232);
  border-bottom: 1px solid rgb(232, 232, 232);
}

/* EDITOR */

.editor-container {
  margin: 0 auto;
}

.author-dropdown {
  position: relative;
}

.author-dropdown:hover .author-dropdown-content {
  display: block;
  z-index: 1;
}

.author-dropdown-content {
  display: none;
  position: absolute;
  top: 44px;
}

.author-dropdown-content li {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px;
  background: rgb(243, 243, 243);
  width: 150px;
  border: 1px solid rgb(232, 232, 232);
}

.author-dropdown-content li:last-child {
  border-top: 0;
}

.author-dropdown-content li:hover {
  background: rgb(250, 250, 250);
}

.editor-controls {
  font-size: 14px;
  background: rgb(243, 243, 243);
  display: flex;
  margin-bottom: 15px;
  align-content: center;
  justify-content: flex-end;
  border-top: 1px solid rgb(232, 232, 232);
  border-bottom: 1px solid rgb(232, 232, 232);
}

.editor-controls > li {
  padding: 10px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  border-left: 1px solid rgb(232, 232, 232);
}

.editor-controls > li i.golden {
  color: rgb(218, 165, 32);
  font-size: 20px;
  margin-left: 10px;
}

.editor-controls > li i {
  margin-left: 10px;
}

.editor-controls > li:hover {
  cursor: pointer;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  background: rgb(232, 232, 232);
}

.click-to-edit {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.editor-container h1 {
  font-size: 20px;
}

.text-editor {
  color: rgb(113, 113, 113);
  font-size: 16px;
  width: 900px;
  height: 600px;
  margin-top: 10px;
  resize: none;
}

.editing { 
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  color: rgb(0, 191, 255);
}

.not-editing {
  -moz-transition: all 3s ease-in;
  -o-transition: all 3s ease-in;
  -webkit-transition: all 3s ease-in;
  transition: all 3s ease-in;
  color: rgb(100, 100, 100);
}

.editor-controls {
  display: flex;
}

.editor-indexer {
  position: relative;
}

.editor-indexer:hover .tooltip {
  display: flex;
  justify-content: center;
  align-content: center;
}

.tooltip {
  position: absolute;
  font-size: 10px;
  color: goldenrod;
  background: lightyellow;
  border: 1px solid goldenrod;
  bottom: -25px;
  left: 20px;
  padding: 2px 5px;
  display: none;
}

/* BUTTONS */

.btn {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 75px;
  color: rgb(0, 153, 204);
  border-radius: 4px;
  border: 2px solid rgb(0, 153, 204); 
  font-size: 18px;
  padding: 2px 10px;
  margin-top: 20px;
}

.btn:hover {
  cursor: pointer;
  background: rgb(238, 238, 238);
  color: rgb(113, 113, 113);
}

